:root {
    --primery-text-color: #212121;
    --tittle-text-color: #757575;
    --accent-text-color:#2196F3;
    --secondry-text-color: #FFFFFF;
    --primery-bg-color: #ffffff;
}
.body{
   background-color: var(--primery-bg-color);
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif; 


}
/* Logo */
.logo{
    color: var(--accent-text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-last-part{
   color: var(--primery-text-color);
}
.list{
    list-style: none;
}
/* navigation */
.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link{
    color: var(--primery-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-text-color);
}

/* шапка */
section.hero{
    color: var(--secondry-text-color);
    background: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    
}
button{
    color: var(--secondry-text-color);
    background-color:#2196F3;  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
}
button:hover,
button:focus{ 
    color: var(--secondry-text-color);
    background-color: #188CE8;
    
}
.feature-list{
    color:var(--tittle-text-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.71;
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.31;
    text-align: center;
}

/* buttons */
.button-filters{
    color: var(--primery-text-color);
 background-color: var(--primery-bg-color);
 cursor: pointer;
}
.button-filters:hover, :focus{
    color: var(--secondry-text-color);
    background-color: #0d99ff;
}
.contacts{
    color: var(--primery-text-color);
}
.contacts:hover, :focus{
    color: var(--accent-text-color);
} 

/* footer */

.adress{
    color: var(--secondry-text-color);
    background-color: #2F303A;
}

.adress-link{
    color: var(--secondry-text-color);
    text-decoration: none;
}
.adress-mail, .adress-tel{
    color: var(--secondry-text-color);
    text-decoration: none;
}
.portfolio h3{
 color: var(--primery-text-color);
}
.portfolio p{
    color: var(--secondry-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
