
:root{
    --primery-text-color:#212121;
    --secondery-text-color:#757575;
    --accent-text-color: #2196F3;
    --white-text-color: #FFFFFF;
    --main-background-color: #F5F5F5;
    --secondery-background-color: #2F303A;
    --button-background-color: #F5F4FA;
}
body{
    color:var(--primery-text-color);
    background-color:var(--white-text-color);
    font-family: Roboto, sans-serif;}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2,h3,p{
    margin-bottom: 0;
    margin-top: 0;
}
img{
    display: block;
}
             /* LOGO */
.logo{
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-studio{ 
    color: var(--primery-text-color);
}


.section-header{
border: 1px solid var(--primery-text-color);
}

     /* NAVIGATION */
.nav-page{
    display: flex;
    align-items: center;
}
.site-nav{
    display:flex;
    margin-left: 93px;
}
.site-nav .item + .item {
    margin-left: 50px;
  }
.site-nav .link{
    display: block;
    padding: 32px 0;
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-text-color);
}
.site-nav .link.current {
     color: var(--accent-text-color);
}
        /* CONTACTS */
.contact-list{
    display: flex;
    margin-left: auto;
}
.contact-list .item + .item{
    margin-left: 50px;
}
.contact:hover, .contact:focus{
    color:var(--accent-text-color);
}
.contact{
    color: var(--secondery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.15;
    text-decoration: none;
    font-style: normal;
}
 /* hero- секція головна в шапці */
 .section-hero{
    padding: 200px 0;
    text-align: center; 
    color: var(--white-text-color);
    background-color: var(--secondery-background-color);
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
  
/* sections-секції */
.section-feature{
    padding-top: 94px;
    padding-bottom: 94px;
    }
 .feature-list{
    display: flex;  
 
 }
 .feature-item{
    margin-right:30px;
    width: 270px;
 }

 .feature-item:last-child {
    margin-right: 0;
 }
    
.feature-list .title{
    color:var(--primery-text-color);   
    margin-top: 0;
    margin-bottom: 10px ;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.feauture-subtitle{
    color:var(--secondery-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
   }

/* SECTION-WORK */
.section-work{
    padding-bottom: 94px;
}
.work-title{
    margin-bottom: 50px;
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.work-list{
    display: flex;
    justify-content: space-between;
}
/* .work-list .item + .item{
    margin-left: 30px;
} */

/* OUR TEAM */
.section-team{
    background-color: var(--button-background-color);
    padding-bottom: 94px;
    padding-top: 94px;
}
.team-title{
    padding-bottom: 50px;
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list{
display: flex;
}
.team-list .item{
  display: block;
}
.team-list .item + .item{
    margin-left: 30px;
}
.about-team{
    background-color: var(--white-text-color);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}
.item-title{
    color:var(--primery-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.subtitle{
    margin-top: 10px;
    color:var(--secondery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    }
/*portfolio*/
.about-projects .title{
    margin-bottom: 4px;;
}
.portfolio-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.section-portfolio{
    padding-top: 94px;
    padding-bottom:94px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
   
/* .portfolio-list .item{
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-list .item:nth-child(3n){
margin-right: 0px;
}
.portfolio-list .item:nth-last-child(-n+3){
margin-bottom: 0%;
}  */
.about-projects{
    margin-bottom: 30px;
    padding:20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

}
.portfolio-links{
    color:var(--primery-text-color);
    text-decoration: none;
}

.portfolio-links .title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}
/* footer-підвал */
.footer-logo{
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.footer-studio{
    color: var(--white-text-color);
}
.section-footer{
    padding-top:60px;
    padding-bottom: 60px;
    color: var(--white-text-color);
    background-color: var(--secondery-background-color);
}
.address{margin-top: 20px;

}
.address-link{
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
}
.address-link:hover,
.address-link:focus{
    color: var(--accent-text-color);
}
.footer-item{
    margin-bottom: 9px;}
.footer-item:last-child{
        margin-bottom: 0px;
    }

.footer-contact{
    color: var(--secondery-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    }
    .footer-contact:hover, .contact:focus{
        color:var(--accent-text-color);
    }

/* buttons */
.button-list{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 34px;
}
.button{
    font-family: inherit;
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    text-align: center;  
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
} 

.button.primery{ 
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border-color: var(--accent-text-color)
} 


.button.secondary{
    padding: 6px 22px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    background-color: var(--button-background-color);
    border-radius: 4px;
} 
.button-list .item +.item{
    margin-left: 8px;
}

.button.secondary:hover,
.button.secondary:focus{
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container{
    align-items: center;
    margin:auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 5px solid rebeccapurple;
 }
